---
import Layout from "@/layouts/Layout.astro";
import Digit from "@/components/Digit.astro";
---

<Layout title="Welcome to Astro.">
  <main class="grid h-screen place-content-center">
    <output class="flex items-end gap-[10px]">
      <Digit number="20.300" />
    </output>
  </main>
</Layout>
